.single{
    width:70vw;
    height:auto;
    margin-top:2%;
}

#three{
    height:55vh;
    width:auto;
}
#four{
    height:55vh;
    width:auto;
}


#seven{
    height:55vh;
    width:auto;
}
#eight{
    height:55vh;
    width:auto;
}