.header{
    height:10vh;
    width:100vw;
    background-color: black;
}

#title{
    margin-left:5%;
    margin-top:10%;
    color:white;
    text-decoration: none;
    font-size:40px;
}

#resume{
    margin-top:2.5vh;
    color:white;
    margin-left:65%;
    text-decoration: none;
}

.background{
    min-height:80vh;
}

.footer{
    height:10vh;
    background-color: gray;
}

.footer div{
    vertical-align: middle;
}

.links{
    position:absolute;
    bottom:15vh;
    margin-left:5%;
    min-width:60vw;
}

#me270{
    margin-left:5%;
}

#profile{
    top:2vh;
    display: table;
    margin: 0 auto;
    height:55vh;
    width:auto;
}