.header{
    height:10vh;
    background-color: black;
}

#title{
    margin-left:5%;
    margin-top:10%;
    color:white;
    text-decoration: none;
    font-size:40px;
}

#resume{
    margin-top:2.5vh;
    color:black;
    float:right;
}

.background{
    min-height:80vh;
}

.footer{
    height:10vh;
    background-color: gray;
}

.footer div{
    vertical-align: middle;
}

.links{
    position:absolute;
    bottom:20vh;
    vertical-align:middle;
}