html{
    height:100%;
}

h1 {
    text-align: center;
    color:white;
}

body{
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background: linear-gradient( to left top, SandyBrown, DarkSlateGray);
}
/* body:before {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
} */

button {
    background: #1AAB8A;
    color: #fff;
    border: none;
    position: relative;
    height: 60px;
    font-size: 1.6em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    margin-right: 5%;
}

button:hover {
    background: #fff;
    color: #1AAB8A;
}

button:before,
button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #1AAB8A;
    transition: 400ms ease all;
}

button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

button:hover:before,
button:hover:after {
    width: 100%;
    transition: 800ms ease all;
}


.navigation{
    margin-top:1%;
    margin-left: 10%;
    margin-bottom: 2%;
}
.content{
    margin-top:5%;
    margin-left: 10%;
}
#main{
    position:absolute;
    right: 15%;
}
#intro{
    color:white;
}

.drop-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.drop-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.drop-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.drop:hover .drop-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */

.navigation{
    clear:both;
}

.drop{
    margin-right:5%;
    display: inline-block;
    vertical-align: top;
}