canvas{
    position:absolute;
    top:25vh;
    right:5%;
    width:50vw !important;
    height:auto !important;
}

.intro{
    margin-left:5%;

}

#intro{
    margin-top:2%;
    font-size: 20px;
    width:35vw;
    height:auto;
    color:black;
}