.carousel-caption{
    color:black;
}

.carousel-indicators li {
    background-color:grey;
}

.carousel-indicators .active{
    background-color: black;
}

#r, #q, #z{
    height:60vh;
    width:auto;
}

#pugh{
    width:60vw;
    height:auto;
    margin-bottom:2%
}

#sub{
    margin-top:2%;
    margin-bottom:2%;
}