
#first{
    position:absolute;
    left: 35%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    
}

#second{
    margin-bottom: 1%;
    position:absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#third{
    position:absolute;
    left: 65%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.carousel-inner img {
    margin: auto;
  }

#componentT, #componentF, #componentB{
    height:75vh;
    height:auto;
    object-fit: contain;
}

.inside-carousel{
    
}