.name{
    margin-left:10%;
    font-size: 40px;
    color:black;
    font-weight: bold;
}

.reflec{
    width:80%;
    height:auto;
}

p{
    text-indent:50px;
    font-size: 30px;
    color:black;
}