
#calculation{
    margin-left: 20px;
}

#cir{
    margin-top:3%;
    margin-left: 5%;
    display:inline-block;
    font-size: 20px;
}

.boards{
    height:65vh;
    width:auto;
    margin-top:2%;
    margin-left:5%;
}

#clearr{
    clear:right;
}

#clearr2{
    
    margin-top:1%;
    margin-left: 6%;
    font-size: 40px;
    
}

#clearr2::after{
    content: 'Low Voltage Board';
    margin-left:12%;
    font-size: 40px;
}

/* #lowvt{
    clear:left;
    display:block;
    margin-top:1%;
    margin-left:35%;
} */