#cycleimg1{
    height:75vh;
    width:auto;
}
#cycleimg2{
    /* position:absolute;
    top:20%;
    right:5%; */
    margin-top:5%;
    height:75vh;
    width:auto;
    display:inline-block;
}

.center-block{
    display: table;
    margin: 0 auto;
}