h1{
    text-align: center;
}

.cycleimg{
    height:65vh;
    width:auto;
    margin-left:5%;
    background-color: white;
}

#cycle1{
    margin-left:5%;
}

/* #componentF, canvas, .mapster_el{
    /* left: 50% !important;
    -webkit-transform: translateX(-50%)!important;
    transform: translateX(-50%)!important; 
    vertical-align: middle;
}

.mapster_el{
    vertical-align: middle;
    display:none!important;
} */